@model IEnumerable<SystroNewsRepository.Entities.New>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Important)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Disabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo.Path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Publisher.FirstName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Important)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Disabled)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo.Path)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Publisher.FirstName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.NewId }) |
            @Html.ActionLink("Details", "Details", new { id=item.NewId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.NewId })
        </td>
    </tr>
}

</table>
